# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Uploaded resumes
backend/app/uploads/

# Alembic cache
backend/alembic/__pycache__/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# SQLite
*.sqlite3
*.db

# Temporary files
*.tmp
*.bak